@model ToDoList.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout .cshtml";
    ViewBag.Title = "Register";
}


<h1>Welcome To Dowee.</h1>
<h2>@ViewBag.Title Now</h2>
<P>We are wait for you to serve you with love <i class="fa fa-heart"></i></P>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal login-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true,"", new { @class = "text-danger" })
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-user"></i></span>
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", aria_describedby = "sizing-addon2", placeholder = "Username" })
    </div>
    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
</div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-envelope-o"></i></span>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", aria_describedby = "sizing-addon2", placeholder = "Email" })
        </div>
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-lock"></i></span>
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", aria_describedby = "sizing-addon2", placeholder = "Password" })
        </div>
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-shield"></i></span>
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", aria_describedby = "sizing-addon2", placeholder = "Confirm Password" })
        </div>
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <input type="submit" class="btn btn-default" value="Register" />

    <p class="gotoRegister">
        @Html.ActionLink("Have An Account ? Login Now", "Login")
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
