@model ToDoList.Models.UserTask

@{
    ViewBag.Title = "Delete";
}

<h2 class="main-title">Delete This Dowee!</h2>

<h3>Are You Sure You Want To Delete This Dowee?!</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="YES, Delete Dowee" class="btn btn-danger" /> |
        @Html.ActionLink("Back To Your Dowees", "Index", null, new { @class = "btn createBtn" })
    </div>
}
<div>
    <hr />
    <table class="table table-bordered table-hover">
        <tr class="FirstData">
            <th>
                Dowee Title
            </th>
            <th>
                Dowee Description
            </th>
            <th>
                Dowee Due Data
            </th>
            <th>
                Dowee Status
            </th>
            <th>
                Dowee Priority
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.DueData)
            </td>
            <td>
                @if (Model.Status == true)
                {
                    <span>Done</span>
                }
                else if (Model.Status == false)
                {
                    <span>Doing</span>
                }
            </td>
            <td>
                @Html.DisplayFor(model => model.Priority)
            </td>
        </tr>


    </table>


</div>
