@model ToDoList.Models.UserTask

@{
    ViewBag.Title = "Details";
}

<h2 class="main-title">Details Of Your Dowee!</h2>
@Html.ActionLink("Edit This Dowee", "Edit", new { id = Model.Id } , new { @class = "btn createBtn" }) |
@Html.ActionLink("Back to Your Dowees", "Index", null, new { @class = "btn createBtn" })
<div>
    <hr />

    <table class="table table-bordered table-hover">
        <tr class="FirstData">
            <th>
                Dowee Title
            </th>
            <th>
                Dowee Description
            </th>
            <th>
                Dowee Due Data
            </th>
            <th>
                Dowee Status
            </th>
            <th>
                Dowee Priority
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.Title)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.DueData)
            </td>
            <td>
                @if (Model.Status == true)
                {
                    <span>Done</span>
                }
                else if (Model.Status == false)
                {
                    <span>Doing</span>
                }
            </td>
            <td>
                @Html.DisplayFor(model => model.Priority)
            </td>
        </tr>
        

    </table>
</div>
